*{
     text-decoration: none;
}
navbar{
     background-color: cornflowerblue ; font-family: Calibri; padding-right: 15px; padding-left: 15px;
}
navig{
     display:flex; align-items: center; justify-content: space-between;
}
li{
     list-style: none; display: inline-flex;
}
li a{
     color: cornsilk; font-size: 18px; font-weight: bold; margin-right: 25px;
}